#canvas {
    background-color: lightskyblue;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

#highscore {
    font-family: "Hack";
    margin: 0;
    padding: 0;
    text-align: center;
}

.d-none {
    display: none;
}